
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">BALAJI SWEETS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
        <a class="nav-link" href="about.html">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownConsignment" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Consignment
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownConsignment">
          <a class="dropdown-item" href="{% url 'user_view_consignment' %}">View Consignment</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTracker" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tracker
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownTracker">
          <a class="dropdown-item" href="{% url 'user_search_results' %}">View Track</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">LogOut</a>
      </li>
    </ul>
  </div>
</nav>
